body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtRFNtufYx_oU-UYKJ0wJ-V15Rsc6sF0Fuxg&s);
  background-size: cover;
}

.navbar{
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}  
.nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
}
.nav-links a:hover {
  color: #f1f7f7;
}
h2{
  margin-left: 40px;
  text-align: center;
}
.a{
  margin-top: 100px;
  margin-left: 30px;
  border: 1px solid black;
 width: -700px;
 height: 500px;
 border-radius: 10px;
 background-color: rgb(168, 187, 188);
box-shadow: 10px 30px 30px rgb(101, 110, 110),-10px -30px 30px rgb(53, 59, 59);
}

img{
  width: 200px;
  border-radius: 20px;
  margin-left: 60px;
  box-shadow: 20px 20px 10px rgb(53, 55, 59) ;
}
.intro{
  margin-left: -250px;
  margin-top: -150px;
}
p{
  margin-top: 180px;
  margin-left: 20px;
}
.b{
  margin-top: 100px;
  margin-left: 150px;
  border: 1px solid black;
 width: 1200px;
 height: 400px;
 border-radius: 10px;
 background-color: rgb(168, 187, 188);
 box-shadow: 10px 30px 30px rgb(101, 110, 110),-10px -30px 30px rgb(53, 59, 59);
display: block;
}
h2{
  margin-top: 60px;
}
.para{
  margin-top: 100px;
}
.c{
  margin-top: 100px;
  margin-left: 150px;
  border: 1px solid black;
 width: 1200px;
 height: 400px;
 border-radius: 10px;
background-color: rgb(168, 187, 188);
 box-shadow: 10px 30px 30px rgb(101, 110, 110),-10px -30px 30px rgb(53, 59, 59);
 display:block;
}
ul{
  margin-left: 60px;
}
#edu-info{
  margin-left: 70px;
}
.d{
  margin-top: 100px;
  margin-left: 150px;
  border: 1px solid black;
 width: 1200px;
 height: 400px;
 border-radius: 10px;
background-color: rgb(168, 187, 188);
 box-shadow: 10px 30px 30px rgb(101, 110, 110),-10px -30px 30px rgb(53, 59, 59);
 display:block;
 
}
span{
  margin-left: 10px;  
}
#edu-info{
  margin-top: 70px;
}
.e{
  margin-top: 100px;
  margin-left: 150px;
  border: 1px solid black;
 width: 1200px;
 height: 600px;
 border-radius: 10px;
background-color: rgb(168, 187, 188);
 box-shadow: 10px 30px 30px rgb(101, 110, 110),-10px -30px 30px rgb(53, 59, 59);
 display:block;
 
}
.contact-info{
  margin-top: 70px;
}
button{
  background-color: black;
  color: #f1f7f7;
  width: 90px;
  height: 50px;
}
